.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    position: fixed;
    background-color: var(--clr-background);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header-visible {
    transform: translateY(0);
}

.header-hidden {
    transform: translateY(-100%);
}



/* Header Home Link */
.header-home-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
    color: var(--clr-text);
}

.header-home-link-logo {
    aspect-ratio: 53/47;
}

.header-home-link-text {
    font-weight: var(--fw-semibold);
}

/* Header Aplications */
.aplications-container {
    padding-right: 5rem;
}

.aplications-list {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 5rem;

    list-style: none;
}

.aplications-list-item-link {
    display: flex;
    position: relative;
    text-decoration: none;
    color: var(--clr-text);
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    transition: color 0.2s ease-in;
}

.aplications-list-item-link:hover {
    color: var(--clr-brand);
    transition: color 0.2s ease-out;
}

.aplications-list-item-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-brand);
    transform-origin: bottom right;
 
    transition: transform 0.5s ease-out;
 }
 
 .aplications-list-item-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
 }

 .aplications-list-item-link-active {
    color: var(--clr-brand);
 }

 .aplications-list-item-link-active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-brand);
 }

 .aplications-list-item-link-active:hover::after {
    display: none;
 }



/* Media Queries */
@media (max-width: 768px) {
    .aplications-container {
        padding-right: 0;
    }
    .aplications-list {
        gap: 1rem;
    }
    .aplications-list-item-link {
        text-align: center;
        font-size: calc(var(--fs-body-mobile) * 0.7);
    }
}
