.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    gap: 10rem;
}

.animation-container {
    width: 50vw; /* default placeholder for now */
    margin-inline: 1rem;
    background-color: var(--clr-background-accent);
    color: var(--clr-text-accent);
    height: 75vh; /* default placeholder for now */
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5rem;
}

.hero-title {
    min-height: 2.5em; /* Adjust based on your font size to prevent layout shifts */
}

.highlight-word {
    color: var(--clr-brand);
    position: relative;
    display: inline-block;
}

.highlight-word::before {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-brand);
    transition: width 0.8s ease-out;
}

.highlight-word.show-underline::before {
    width: 100%;
}

.hero-description, .hero-button {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.5s ease-out;
}

.hero-description.show, .hero-button.show {
    opacity: 1;
    transform: translateY(0);
}

.hero-button {
    padding: 0.5rem 3.5rem;
}




/* Media Queries */
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column-reverse;
        padding: 1rem;
        gap: 3rem;
    }

    .animation-container {
        width: 100%;
        height: 45vh; /* default placeholder for now */
    }

    .text-container {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
}

