
.select-section-container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

    overflow-x: scroll;
}
    .section-container
    {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .section-button
    {
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: .8rem;
        background-color: green;
        color: var(--clr-text-accent);
        height: 50px;
        max-width: 200px;

        overflow-y: hidden;

        width: 100%;
        text-align: center;
        text-decoration: none;
        font-weight: var(--fw-medium);
        border: none;
        border-radius: 50vw;
        text-wrap: wrap;

        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .section-button:hover {
        background-color: var(--clr-white);
        color: var(--clr-accent);

        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .section-button-text
        {
            height: 100%;
            text-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-y: scroll;
        }

        .section-button-text::-webkit-scrollbar
        {
            display: none;
        }

    .alt-section-button
    {
        background-color: var(--clr-white);
        color: var(--clr-accent);
    }

    .section-edit-button
    {
        padding: 5px;
        font-size: .8rem;
        color: black;
        border: 2px solid black;
        background-color: white;
        height: 50px;
        width: 200px;

        overflow-y: hidden;

        width: 100%;
        text-align: center;
        text-decoration: none;
        font-weight: var(--fw-medium);
        border-radius: 50vw;

        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .section-edit-text-box
        {
            height: 100%;
        }

        .section-edit-text-box::-webkit-scrollbar
        {
            display: none;
        }

    .section-save-cancel-buttons-container
    {
        display: flex;
        flex-direction: column;
    }

        .cancel-section-button
        {
            color: red;
        }

        .save-section-button
        {
            color: green;
        }
